@model ApiVkProject.Models.User

@{
    ViewData["Title"] = Model.FirstName + ' ' + Model.LastName;
}

<div class="user_detail">
    <a target="_blank" href="@("https://vk.com/id" + Model.Id)" class="user_link_photo">
        <img src="@Model.Photo" class="user_photo" />
    </a>
    <h3>
        <a target="_blank" href="@("https://vk.com/id" + Model.Id)" class="user_link_photo">
            @Model.FirstName @Model.LastName
        </a>
    </h3>
</div>
<textarea id="message_area"></textarea>
<br />
<button data-id="@Model.Id" data-recipient="User" id="send_message" class="btn btn-default">Отправить</button>
<br />
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
