@model IEnumerable<VkNet.Model.User>

@{
    ViewData["Title"] = "Подписчики";
}

<h2>Подписчики</h2>

<ul class="user_list">
    @foreach (var item in Model)
    {
        <li class="user">
            <a target="_blank" href="@("https://vk.com/id" + item.Id)" class="user_link_photo">
                <img src="@item.Photo100" class="user_photo" />
            </a>
            <div>
                <h4 class="user_name">
                    <a target="_blank" href="@("https://vk.com/id" + item.Id)">
                        @item.FirstName @item.LastName
                    </a>
                </h4>
                <button class="btn btn-default">Написать</button>
            </div>
        </li>
        <!--<a asp-action="Details" asp-route-id="@item.Id">Details</a>-->
    }
</ul>