@model IEnumerable<ApiVkProject.Models.User>

@{
    ViewData["Title"] = "Подписчики";
}

<div class="row">
    <h2 class="col-sm-8">Подписчики</h2>
    <form asp-action="UpdateUsers" asp-controller="vkparse" class="col-sm-4 btn_update">
        <input type="submit" value="Обновить список" class="btn btn-default" />
    </form>
</div>
<ul class="user_list">
    @foreach (var item in Model)
    {
        <li class="user">
            <a target="_blank" href="@("https://vk.com/id" + item.Id)" class="user_link_photo">
                <img src="@item.Photo" class="user_photo" />
            </a>
            <div>
                <h4 class="user_name">
                    <a target="_blank" href="@("https://vk.com/id" + item.Id)">
                        @item.FirstName @item.LastName
                    </a>
                </h4>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-default">Детали</a>
            </div>
        </li>
    }
</ul>